<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Рассылка</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Главная</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Рассылка
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/sending/sending_list/">Список рассылки</a></li>
              <li><a class="dropdown-item" href="/sending/mail_list/">Список писем</a></li>
              <li><a class="dropdown-item" href="/sending/sending_user_list/">Список пользователей</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/sending/statistic_list/">Статистика</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          {% if user.is_active %}
          <form method="post" action="{% url 'authorization:goodbye' %}" style="display: inline;">
          {% csrf_token %}
            <a href="/sending/home/"><button class="p-2 btn btn-outline-primary" type="submit">Выйти</button></a>
            <p>Добро пожаловать, {{ user.email }}!</p>
          </form>
            {% else %}
            <a class="p-2 btn btn-outline-primary" aria-current="page" href="/authorization/login/">Войти</a>
            <a class="p-2 btn btn-outline-primary" aria-current="page" href="/authorization/registration/">Зарегистрироваться</a>
          {% endif %}
        </form>
      </div>
    </div>
  </nav>
</header>