{% extends "sending_emeil/base.html" %}

{% block title %}Рассылка{% endblock %}
{% block content %}

<ul>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список рассылок</h1>
    </div>
    <p>Общее количество рассылок: {{}}</p>
    <p>Активных рассылок: {{}}</p>
    <p>Количество уникальных получателей: {{}}</p>
<div class="container">
    <div class="row text-center">
        <div class="col-8">
            <div class="col-sm-4 w-30">
            </div>
        </div>
    </div>
</div>
</ul>
{% endblock %}