{% extends 'sending_emeil/base.html' %}

{% block title %}Редактирование пользователя{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Редактирование пользователя</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'sending_emeil:sending_user_detail' sendinguser.pk %}">
                <button type="submit" class="btn btn-dark">Сохранить</button>
            </a>
            <a href="{% url 'sending_emeil:sending_user_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
{% endblock %}