{% extends 'sending_emeil/base.html' %}

{% block title %}Рассылка{% endblock %}

{% block content %}
<h1 class="mb-4">Список рассылок</h1>

<ul>
  <a class="btn btn-dark" href="{% url 'sending_emeil:sending_create' %}">Добавить рассылку</a>
        {{ form.as_p }}
        {% for sending in sendings %}
        <div class="card">
            <div class="card-body">
                <li class="list-group-item">
                    Название рассылки:
                    <a href="{% url 'sending_emeil:sending_detail' product.pk %}">{{sending.mail.subject}}</a>
                </li>
                <li class="list-group-item">Статус рассылки: {{sending.status}}</li>
                <li class="list-group-item">Дата начала отправки: {{sending.date_first}}</li>
                <li class="list-group-item">Дата окончания отправки: {{sending.date_last}}</li>
            </div>
        </div>
        {% empty %}
        <li>У вас не было еще ни одной рассылки, возможно, вы еще не авторизованы или не имеете достаточно прав доступа.</li>
        {% endfor %}
</ul>
{% endblock %}