{% extends 'sending_emeil/base.html' %}

{% block title %}Удаление рассылки с темой письма {{ sending.mail.subject }}{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Удалить рассылку</h1>
        <p>Вы уверены, что хотите удалить рассылку с темой письма "{{ sending.mail.subject }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'sending_emeil:sending_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
{% endblock %}