{% extends 'sending_emeil/base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
<h1 class="mb-4">Список пользователей</h1>

<ul>
  <a class="btn btn-dark" href="{% url 'sending_emeil:sending_user_create' %}">Добавить пользователя</a>
        {{ form.as_p }}
        {% for sendinguser in sendingusers %}
        <div class="card">
            <div class="card-body">
                <li class="list-group-item">
                    Адрес почты пользователя:
                    <a href="{% url 'sending_emeil:sending_user_detail' sendinguser.pk %}">{{sendinguser.email}}</a>
                </li>
                <li class="list-group-item">ФИО: {{sendinguser.fio}}</li>
                <li class="list-group-item">Описание: {{sendinguser.description}}</li>
            </div>
        </div>
        {% empty %}
        <li>У вас не было еще ни одной рассылки, возможно, вы еще не авторизованы или не имеете достаточно прав доступа.</li>
        {% endfor %}
</ul>
{% endblock %}